.form-style{
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}
.Entete{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    font-size: 15px;
    padding-bottom: 3px;
}
.point{
    color: red;
}

input{

    margin-left: 40%;

}
label{
    display:block;
    margin-top: 5%;
}
select{

    margin-left: 50%;
}
#givenname{
    width:40%;
}
#familyname{
    width: 40%;
}
#adresse{
    width: 40%;
}
#ville\ name{
    width: 40%;
}
#telephone{
    width: 25%;
}
#date\ inscirption{
    width: 25%;
}
#date\ fin{
    width: 25%;
}
#male{

}
#choix{
    width: 27%;
}
#carte\ crédit{
    width: 25%;
}
#mot\ passe{
    width: 40%;
}
#courriel{
    width: 40%;
}