body{
    background: center no-repeat url("../image/fond.png") ;
}
h1{
    text-transform: capitalize;
    font-size:20px;
    text-decoration: underline;
    text-align: center;
}
h2, h3, h4, h5{
    font-size:16px;
    color: forestgreen;
    text-decoration: overline underline;
    text-align:center;
}

.mode{
    font-style: oblique;
}

#style{
    text-transform: capitalize;
    font-family:"serif";

}
p{
    text-align:center;
}
