main{
	margin:0 auto;  /* permet de centrer à 60% de la page*/
	width: 60%;
}
h1,h2{
	position:center;
	text-align: center;

}
nav{
	float:left;
	padding-right:100px;

}

#section1{
	/*400px*/
	float:left;
	text-align: center;
	width: 30%;

}

#section2{
	width:30%;
	text-align: center;
	float:right;
}
footer{
clear:both;
font-style: italic;
}
